*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mb-4 {
  margin-bottom: 1.5em !important; }

.mt-4 {
  margin-top: 1.5em !important; }

/* template.html: Navbar fixed top */
.navbar-default {
  background-color: #fff; }

.dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }

#navbar-template {
  border-bottom: none; }
  #navbar-template .navbar-logo {
    float: left;
    padding: 12px 15px;
    height: 55px; }
  #navbar-template .navbar-nav a {
    font-size: 14px;
    text-transform: uppercase; }

.navbar-shadow {
  -webkit-box-shadow: 0px 2px 6px -2px #aaaaaa;
  -moz-box-shadow: 0px 2px 6px -2px #aaaaaa;
  box-shadow: 0px 2px 6px -2px #aaaaaa; }

/* Navbar toogle animation */
.navbar-toggle {
  border: none;
  background: transparent !important; }
  .navbar-toggle:hover {
    background: transparent !important; }
  .navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s; }
  .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .navbar-toggle .middle-bar {
    opacity: 0; }
  .navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .navbar-toggle.collapsed .top-bar {
    transform: rotate(0); }
  .navbar-toggle.collapsed .middle-bar {
    opacity: 1; }
  .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0); }

/*End of toogle animation*/
.main-wrapper {
  background: rgba(0, 0, 0, 0.04);
  padding-top: 70px;
  padding-bottom: 2em; }

.main-wrapper-white {
  background: #fff;
  padding-top: 70px; }

/* ====================  (Animation && Language) ======================== */
#navbar .navbar-nav {
  margin-top: 0;
  margin-bottom: 0; }
  #navbar .navbar-nav > .open > a,
  #navbar .navbar-nav > .open > a:hover,
  #navbar .navbar-nav > .open > a:focus {
    background-color: #f6d5d5;
    color: #555; }
  #navbar .navbar-nav > .active > a,
  #navbar .navbar-nav > .active > a:hover,
  #navbar .navbar-nav > .active > a:focus {
    background-color: #f6d5d5;
    color: #555; }
  #navbar .navbar-nav .bootstrap-select.fit-width > button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 7px; }

#navbar .nav-animation > li > a {
  text-decoration: none;
  font-size: 14px;
  position: relative;
  z-index: 0;
  cursor: pointer; }
  #navbar .nav-animation > li > a:before {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 0px;
    content: '';
    background: #f6d5d5;
    opacity: 0.3;
    transition: all 0.3s; }
  #navbar .nav-animation > li > a:hover:before {
    height: 100%; }

/* -----------------------------( Material button )--------------------------------- */
.material-button-raised {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #fff;
  background-color: #da4d4d;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s; }

.material-button-raised:hover,
.material-button-raised:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

.material-button-raised:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.material-button-raised:disabled {
  color: rgba(0, 0, 0, 0.38);
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  cursor: initial; }

.material-button-raised::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.2s; }

.material-button-raised:hover::before {
  opacity: 0.12; }

.material-button-raised:focus::before {
  opacity: 0.2; }

.material-button-raised:active::before {
  opacity: 0.32; }

.material-button-raised:disabled::before {
  opacity: 0; }

.material-button-raised::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 18px;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  height: 32px;
  background-color: currentColor;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s; }

.material-button-raised:active::after {
  opacity: 0.4;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s; }

.material-button-raised:disabled::after {
  opacity: 0; }

.material-button-raised.active {
  font-weight: 600;
  color: #ca2a2a;
  background-color: #fff; }

/*---------------------( Material Design Radio Button )-------------------------*/
@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0); }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1); }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0); } }

.md-radio {
  margin: 16px 0; }
  .md-radio.md-radio-inline {
    display: inline-block; }
  .md-radio input[type="radio"] {
    display: none; }
    .md-radio input[type="radio"]:checked + label:before {
      border-color: #337ab7;
      animation: ripple 0.2s linear forwards; }
    .md-radio input[type="radio"]:checked + label:after {
      transform: scale(1); }
  .md-radio label {
    display: inline-block;
    height: 18px;
    position: relative;
    padding: 0 28px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom; }
    .md-radio label:before, .md-radio label:after {
      position: absolute;
      content: '';
      border-radius: 50%;
      transition: all .3s ease;
      transition-property: transform, border-color; }
    .md-radio label:before {
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 2px solid rgba(0, 0, 0, 0.54); }
    .md-radio label:after {
      top: 5px;
      left: 5px;
      width: 8px;
      height: 8px;
      transform: scale(0);
      background: #337ab7; }

/*----------------- Scroll To Top ----------------*/
.scroll-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 70px;
  right: 20px;
  display: none;
  padding: 6px 12px;
  z-index: 999;
  transition: none;
  color: #ca2a2a;
  background-color: transparent;
  border: 1px solid #ca2a2a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .scroll-to-top:hover, .scroll-to-top:active, .scroll-to-top:focus {
    color: #ca2a2a; }

.main-wrapper {
  background-color: #eee; }
  .main-wrapper .block-heading {
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center; }
    .main-wrapper .block-heading h2 {
      color: #337ab7; }
    .main-wrapper .block-heading p {
      text-align: center;
      max-width: 420px;
      margin: auto;
      opacity: 0.7; }
  .main-wrapper .mb-4 {
    margin-bottom: 2em;
    padding-left: 10px;
    padding-right: 10px; }
  .main-wrapper .item {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    border-top: 2px solid #63a0d4;
    padding: 30px;
    overflow: hidden;
    position: relative; }
    .main-wrapper .item .ribbon {
      width: 160px;
      height: 32px;
      font-size: 12px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
      background: #4dbe3b;
      transform: rotate(45deg);
      position: absolute;
      right: -42px;
      top: 20px;
      padding-top: 7px; }
    .main-wrapper .item .heading {
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .main-wrapper .item .heading h3 {
        margin-bottom: 4px; }
      .main-wrapper .item .heading span {
        font-size: .9em; }
    .main-wrapper .item .features {
      min-height: 250px; }
      .main-wrapper .item .features div.feature {
        font-size: 16px;
        padding: 5px; }
    .main-wrapper .item .price {
      text-align: center; }
      .main-wrapper .item .price span {
        color: #337ab7; }
      .main-wrapper .item .price .currency {
        position: relative;
        bottom: 25px; }
      .main-wrapper .item .price .value {
        margin: 15px 0;
        font-size: 55px;
        font-weight: 600; }
    .main-wrapper .item button {
      font-weight: 600;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px; }
    .main-wrapper .item p {
      text-align: center;
      margin-top: 20px;
      opacity: 0.7; }
