$navbar-default-bg: #fff;
$navbar-active: #f6d5d5; //link active color
$brand-black: #000;
$brand-white: #fff;
$brand-primary: #E37777;


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mb-4 {
  margin-bottom: 1.5em !important;
}

.mt-4 {
  margin-top: 1.5em !important;
}


/* template.html: Navbar fixed top */
.navbar-default {
	background-color: $navbar-default-bg;
} 

.dropdown-menu {
	@include border-radius(0);
}

#navbar-template {
  border-bottom: none;

	.navbar-logo {
		float: left;
		padding: 12px 15px;
		//line-height: 20px;
    height: 55px;
	}

	.navbar-nav {
		a {
			font-size: 14px;
			text-transform: uppercase;
		}
	}
}

.navbar-shadow {
	-webkit-box-shadow: 0px 2px 6px -2px rgba(170,170,170,1);
	-moz-box-shadow: 0px 2px 6px -2px rgba(170,170,170,1);
	box-shadow: 0px 2px 6px -2px rgba(170,170,170,1);
}


/* Navbar toogle animation */
.navbar-toggle {
  border: none;
  background: transparent !important;
  
  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);      
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}
/*End of toogle animation*/


.main-wrapper {
	background: rgba($brand-black,.04);
	padding-top: 70px;
  padding-bottom: 2em;
}
.main-wrapper-white {
	background: $brand-white;
	padding-top: 70px;
}


/* ====================  (Animation && Language) ======================== */
// @import 'https://fonts.googleapis.com/css?family=Raleway';

#navbar {
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;

    > .open > a,
    > .open > a:hover,
    > .open > a:focus {
      background-color: $navbar-active;
        color: #555;
    }

    > .active > a, 
    > .active > a:hover,
    > .active > a:focus {
      background-color: $navbar-active;
        color: #555;
    } 

    .bootstrap-select.fit-width > button {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 10px;
      border: none;
      margin-left: 5px;
      margin-top: 8px;
      margin-bottom: 7px;
    }
  }
  .nav-animation > li > a {
    text-decoration: none;
      // font-family: Raleway;
      font-size: 14px;
      position: relative;
      z-index: 0;
      cursor: pointer;

      &:before{
        position: absolute;
        width: 100%;
        height: 0px;
        left: 0px;
        top: 0px;
        content: '';
        background: $navbar-active;
        opacity: 0.3;
        transition: all 0.3s;
    }
    &:hover:before{
        height: 100%;
    }

  }
}


/* -----------------------------( Material button )--------------------------------- */
.material-button-raised {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  // margin: 0 8px;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #fff;
  background-color: darken($brand-primary, 10%); // before: #2196f3 after: #f32020
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.material-button-raised:hover,
.material-button-raised:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.material-button-raised:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.material-button-raised:disabled {
  color: rgba(0, 0, 0, 0.38);
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  cursor: initial;
}

.material-button-raised::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.2s;
}

.material-button-raised:hover::before {
  opacity: 0.12;
}

.material-button-raised:focus::before {
  opacity: 0.2;
}

.material-button-raised:active::before {
  opacity: 0.32;
}

.material-button-raised:disabled::before {
  opacity: 0;
}

.material-button-raised::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 18px;
  border-radius: 50%;
  padding: 50%;
  width: 32px;
  height: 32px;
  background-color: currentColor;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1) ;
  transition: opacity 1s, transform 0.5s;
}

.material-button-raised:active::after {
  opacity: 0.4;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

.material-button-raised:disabled::after {
  opacity: 0;
}

.material-button-raised.active {
  font-weight: 600;
  color: darken($brand-primary, 20%);
  background-color: #fff; // before: #2196f3 after: #f32020
}


/*---------------------( Material Design Radio Button )-------------------------*/

$md-radio-checked-color: rgb(51, 122, 183);
$md-radio-border-color: rgba(0, 0, 0, 0.54);
$md-radio-size: 18px;
$md-radio-checked-size: 8px; 
$md-radio-ripple-size: 15px;

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
  }
  50% { 
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
  }
}

.md-radio {
    margin: 16px 0;
    
    &.md-radio-inline {
        display: inline-block;
    }

    input[type="radio"] {
        display: none;
        &:checked + label:before {
            border-color: $md-radio-checked-color;
            animation: ripple 0.2s linear forwards;   
        }
        &:checked + label:after {
            transform: scale(1);
        }
    }
    
    label {
        display: inline-block;
        height:$md-radio-size;
        position: relative;
        padding: 0 ($md-radio-size + 10px);
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;
        &:before, &:after {
            position: absolute;            
            content: '';  
            border-radius: 50%;
            transition: all .3s ease;
            transition-property: transform, border-color;
        }
        &:before {
            left: 0;
            top: 0;
            width: $md-radio-size;
            height: $md-radio-size;
            border: 2px solid $md-radio-border-color;
        }
        &:after {
            top: $md-radio-size / 2 - $md-radio-checked-size / 2;
            left: $md-radio-size / 2 - $md-radio-checked-size / 2;
            width:$md-radio-checked-size;
            height:$md-radio-checked-size;
            transform: scale(0);
            background:$md-radio-checked-color;
        }
    }
}



/*----------------- Scroll To Top ----------------*/
.scroll-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 70px;
  right: 20px;
  display:none;
  padding: 6px 12px;
  z-index: 999;
  transition: none;
  color: darken($brand-primary, 20%);
  background-color: transparent;
  border: 1px solid darken($brand-primary, 20%);
  @include border-radius(5px);
  &:hover, &:active, &:focus {
    color: darken($brand-primary, 20%);
  }
}
