//people
$people-bg-color: #373E48;
// chat
$chat-bg-color: #F2F8F8;
$received-msg: #FFF;
$sent-msg: #54D48A;
$status-color: #54D48A;
$font-black: #505559;
$font-gray: #aaa;
$font-white: #fff;
$font: 'Open Sans';


@mixin transition($transition) {
    -moz-transition:    all $transition ease-out;
    -o-transition:      all $transition ease-out;
    -webkit-transition: all $transition ease-out;
    -ms-transition: 	all $transition ease-out;
    transition:         all $transition ease-out;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
		-ms-border-radius: $radius;
			border-radius: $radius;
}


@mixin placeholder-color($color) {
    &::placeholder {
        color: $color;
        opacity: 1; 
    }
    &:-ms-input-placeholder { 
       color: $color;
    }
    &::-ms-input-placeholder { 
       color: $color;
    }
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
    width: 1140px;
    height: 92vh;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    background-color: #f2f2f2;
}


.people-wrapper,
.chat-wrapper,
.user-wrapper {
    position: relative; //added
    overflow: hidden;
    float: left;
    height: 100%;
    @include transition(.3s);
}

/* ---------------------------------------( People wrapper )--------------------------------------- */
.people-wrapper {
    width: 300px;
    color: $font-gray;
    background-color: $people-bg-color;
    font-family: $font;

    .search {
        display: inline-block;
        width: 100%;
        height: 74px;
        padding: 20px;
        position: absolute;
        top: 0;
        z-index: 99;
        button {
            width: 34px;
            height: 34px;
            margin-right: 12px;
            padding: 2.5px;
            background-color: $people-bg-color;
            border: none;
            outline: none;
            cursor: pointer;
            @include border-radius(17px);
            i {
                color: $font-gray;
                vertical-align: middle;
            }
        }
        #contact-back-icon {
            display: none;
        }
        input {
            // width: calc(100% - 50px);
            width: 100%;
            color: $font-white;
            padding: 5px 15px 5px 40px;
            font-weight: 300;
            letter-spacing: .5px;
            border: 1px solid darken($people-bg-color, 4%);
            background-color: darken($people-bg-color, 4%);
            background-image: url('..//images/icon-search.png');
            background-position: 10px 5px; 
            background-repeat: no-repeat;
            outline: none;
            @include border-radius(17px);
            @include placeholder-color(darken($font-white, 20%));
            &:focus {
                border: 1px solid darken($people-bg-color, 6%);
                background-color: darken($people-bg-color, 6%);
            }
        }
    }
    .people-list {
        margin-top: 74px;
        height: calc(100% - 74px);
        overflow-x: hidden;
        overflow-y: auto;

        ul {
            li {                
                cursor: pointer;
                background-color: inherit;
                border: none;
                .avatar {
                    float: left;
                    padding-right: 15px;
                    img {
                        width: 45px;
                        height: 45px;
                        @include border-radius(50%);
                    }
                }
                .list-content {
                    display: block;                    
                    span {
                        float: right;
                        color: $font-gray;
                        font-size: .9em;
                    }
                    .title {
                        color: $font-white;
                    }
                    span.badge {
                        color: $font-white;
                    }
                    .description {
                        color: $font-gray;
                        white-space: nowrap; 
                        width: calc(100% - 100px); 
                        overflow: hidden;
                        text-overflow: ellipsis; 
                    }
                    .contact-description {
                        color: $font-gray;
                        white-space: nowrap; 
                        width: calc(100% - 60px); 
                        overflow: hidden;
                        text-overflow: ellipsis; 
                    }
                }
                &:hover, &.active {
                    background-color: lighten($people-bg-color, 4%);
                }
            }
            
        }
    }

    #contact-list {
        display: none;
    }

    #contact-list-icon {
        position: absolute;
        bottom: 25px;
        right: 25px;
        i {
            padding: 16px 14px;
            font-size: 1.2em;
            background-color: darken($status-color, 10%);
            color: #fff;
            cursor: pointer;
            @include border-radius(50%);
            &:hover, &:focus {
                background-color: darken($status-color, 20%);
            }
        }
    }
}


/* --------------------------------( Chat wrapper )-------------------------------- */

.chat-wrapper {
    width: calc(100% - 300px - 250px);
    color: $font-gray;
    font-family: $font;

    .header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 70px;
        padding: 15px 20px;
        background-color: $chat-bg-color;
        -webkit-box-shadow: 0px 0px 5px -1px rgba(170,170,170,1);
        -moz-box-shadow: 0px 0px 5px -1px rgba(170,170,170,1);
        box-shadow: 0px 0px 5px -1px rgba(170,170,170,1);
        z-index: 99;
        span, a {
            float: right;
            color: darken($font-gray, 20%);
            margin-top: 8px;
            cursor: pointer;
            i {
                vertical-align: middle;
                margin-left: 10px;
            }
        }
        .user {
            font-size: 1.1em;
            color: $font-black;
        }
        .status {
            font-size: .9em;
            color: $status-color;
            font-weight: 600;
        }
    }

    .message {
        margin-top: 70px; // height of .header
        margin-bottom: 64px; // height of .input-box
        height: calc(100% - 70px - 64px);
        overflow-x: hidden;
        overflow-y: auto;
        padding: 20px;
        background-color: darken($chat-bg-color, 0%);
        hr {
            font-size: .8em;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            padding-right: 0;
            li {
                display: block;
                clear: both;
                width: 100%;
                img {
                    width: 50px;
                    height: 50px;
                    @include border-radius(50%);
                }
                p {
                    display: inline-block;
                    font-size: 1em;
                    width: 70%;
                    padding: 10px 15px;
                    line-height: 125%;
                    span {
                        display: block;
                        float: right;
                        padding-top: 7px;
                        font-size: .8em;
                    }
                }
            }
            li.sent { /* Color: green */
                img {
                    float: right;
                }
                p {
                    float: right;
                    color: #fff;
                    background: $sent-msg;
                    margin-right: 10px;
                    @include border-radius(10px 0 10px 10px); 
                    span {
                        color: #eee;
                    }
                }
            }
            li.received { /* Color: white */
                img {
                    float: left;
                }
                p {
                    color: darken($font-gray, 30%);
                    background: $received-msg;
                    margin-left: 10px;
                    @include border-radius(0 10px 10px);
                    span {
                        color: darken($font-gray, 10%);
                    }
                }
            }
        }
    }

    .input-box {
        position: absolute;
        bottom: 0;
        display: inline-block;
        width: 100%;
        height: 64px;
        padding: 15px 20px;
        background-color: #fff;
        z-index: 98;
        button {
            width: 35px;
            height: 30px;
            border: none;
            outline: none;
            background-color: #fff;
            cursor: pointer;
            i {
                font-size: 1.6em;
                vertical-align: middle;
            }
            &.attachment {
                color: $font-gray;
                &:hover, &:focus {
                    color: darken($font-gray, 10%);
                }
            }
            &.send {
                color: $sent-msg;
                &:hover, &:focus {
                    color: darken($sent-msg, 10%);
                }
            }
        }
        input {
            height: 34px;
            width: calc(100% - 99px); // 10+10+35+35
            margin-left: 10px;
            margin-right: 10px;
            border: none;
            outline: none;
            @include placeholder-color(lighten($font-gray, 10%));
        }
    }
}


/* Centered text between hr tag */
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    //color: black;
    text-align: center;
    height: 1.5em;
    opacity: .7;
    &:before {
        content: '';
        /* background color of <hr> */
        //background: linear-gradient(to right, transparent, #818078, transparent);
        background-color: lighten($font-gray, 15%);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }
    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        padding: 0 .5em;
        line-height: 1.5em;
        /* color and background color of text (at the center) */
        color: $font-gray;
        background-color: $chat-bg-color;
    }
}


/* -------------------------------------( User-info wrapper )------------------------------------- */

.user-wrapper {
    width: 250px;
    padding: 30px 20px;
    color: $font-gray;
    font-family: $font;
    background-color: #fff;
    border-left: 1px solid #e8e8e8;
    .image {
        margin: 0 auto;
        margin-bottom: 25px;
        width: 150px;
        height: 150px;
        img {
            width: 150px;
            height: 150px;
            @include border-radius(50%);
        }
    }
    .name {
        text-align: center;
        h4 {
            color: $font-black;
            font-weight: 600;
        }
    }
    ul {
        margin-top: 25px;
        list-style-type: none;
        padding-left: 20px;
        padding-right: 20px;
        li {
            display: block;
            clear: both;
            width: 100%;
            span {
                float: left;
                margin-right: 15px;
            }
        }
    }
}


