$font-primary: 'Open Sans', Arial, sans-serif;
$font-secondary: 'Marmelad', sans-serif;

$brand-primary: #E37777 !default; //logo: #90406E
$brand-white: #fff;
$brand-darker: #444;
$brand-black: #000;


@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 	all $transition ease;
    transition:         all $transition ease;
}

@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@import 'bootstrap/mixins';
@import 'bootstrap/variables';

.home-contact-wrap {
	color: #fff;
	margin-right: 2em;
}
.home-contact-wrap p {
	color: #fff;
}
.home-contact-wrap h3 {
	color: #fff;
}
.home-contact-person {
	margin-bottom: 1em;
	padding: 1em; 
	background-color: rgba(255, 255, 255, 0.2);
}
.home-contact-number > a {
	display: block;
	color: #fff;
	font-weight: 300;
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
}
.home-contact-1x {
	margin-right: 15px;
	font-size: 1.2em;
} 
.home-contact-2x {
	margin-right: 65px;
}

.service-btn-outline {
	background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: .8em;
	
	&:hover, &:focus, &:active {
		color: #ddd;
		border: 1px solid #ddd;
	}
}

/* Navbar fixed (displayed on.scroll) */
.fh5co-nav-fixed {
	position: fixed;
	top: -100px;
	display: block;
	margin: 0;
	width: 100%;
	padding: 10px 0;
	z-index: 1001;
	background-color: #fff;
	transition: top 0.3s;
	-webkit-box-shadow: 0px 2px 6px -2px rgba(170,170,170,1);
	-moz-box-shadow: 0px 2px 6px -2px rgba(170,170,170,1);
	box-shadow: 0px 2px 6px -2px rgba(170,170,170,1);

	@media screen and (max-width: $screen-sm) {
		padding: 10px 0;
	}
	#fh5co-logo-colorful {
		margin: 0;
		padding: 0;
	}
	a {
		padding: 5px 10px;
		color: $brand-darker;
	}
	.menu-1, .menu-2 {
		@media screen and (max-width: $screen-sm ) {
			display: none;
		}
	}
	ul {
		padding: 0;
		margin: 2px 0 0 0;
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline;
			a {
				font-size: 14px;
				padding: 10px;
				text-transform: uppercase;
				color: rgba(0,0,0,.5);
				@include transition(.5s);
				&:hover,&:focus, &:active {
					color: rgba(0,0,0,1);
				}
			}
			&.has-dropdown-fixed {
				position: relative;
				.dropdown-fixed {
					width: 130px;
					-webkit-box-shadow: 0px 5px 13px -2px rgba(170,170,170,1);
					-moz-box-shadow: 0px 5px 13px -2px rgba(170,170,170,1);
					box-shadow: 0px 5px 13px -2px rgba(170,170,170,1);
					z-index: 1002;
					visibility: hidden;
					opacity: 0;
					position: absolute;
					top: 40px;
					left: 0;
					text-align: left;
					background: $brand-white;
					padding: 20px;
					@include border-radius(4px);
					@include transition(.0s);
					&:before {
						bottom: 100%;
						// left: 30%;
						left: 40px;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-bottom-color: #fff;
						border-width: 8px;
						margin-left: -8px;
					}
					
					li {
						display: block;
						margin-bottom: 7px;
						&:last-child {
							margin-bottom: 0;
						}
						a {
							padding: 2px 0;
							display: block;
							color: lighten($brand-black, 60%);
							line-height: 1.2;
							text-transform: none;
							font-size: 15px;
							&:hover {
								color: $brand-black;
							}
						}
					}
				}
				&:hover, &:focus {
					a {
						color: $brand-black;
					}
					.dropdown-fixed {
						//visibility: visible;
						//opacity: 1;
					}
				}
			}
			&.btn-cta {
				a {
					color: $brand-primary;
					span {
						background: $brand-white;
						padding: 4px 20px;
						@include inline-block;
						@include transition(.3s);
						@include border-radius(100px);
					}
					&:hover {
						span {
							-webkit-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
							-moz-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
							box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
						}
					}
				}
			}
			&.active {
				> a {
					color: $brand-black!important;
				}
			}
		}
	}
}

// .slideshow-cover IS THE COPY OF .fh5co-cover (edited)
.slideshow-container {
	position: relative;
	
	/* Next & previous buttons */
	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
	}
  
  	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}
  
  	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
		background-color: rgba(0,0,0,0.8);
	}

	.slideshow-cover {
		display: none;
		height: 900px;
		background-size: cover;
		// background-position: center center;
		background-repeat: no-repeat;
		width: 100%;
		
		.overlay {
			z-index:0;
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, .5);
		}
		> .fh5co-container {
			position: relative;
			z-index: 10;
		}
		@media screen and (max-width: $screen-sm) {
			height: 600px;
		}
		.display-t,
		.display-tc {
			height: 900px;
			display: table;
			width: 100%;
			@media screen and (max-width: $screen-sm) {
				height: 600px;
			}
		}	
	
		&.fh5co-cover-sm {
			height: 300px;
			@media screen and (max-width: $screen-sm) {
				height: 200px;
			}
			.display-t,
			.display-tc {
				height: 300px;
				display: table;
				width: 100%;
				@media screen and (max-width: $screen-sm) {
					height: 200px;
				}
			}	
		}
	}
}

// COPY OF .fh5co-cover right above
.slideshow-cover {
	.display-tc {
		display: table-cell!important;
		vertical-align: middle;
		h1, h2 {
			margin: 0;
			padding: 0;
			color: rgba(255,255,255,1);
		}
		h1 {
			margin-bottom: 0px;
			font-size: 80px;
			line-height: 1.5;
			font-family: $font-secondary;
			@media screen and (max-width: $screen-sm) {
				font-size: 40px;
			}
			@media screen and (max-width: $screen-xs) {
				font-size: 30px;
			}
		}
		h2 {
			font-size: 20px;
			line-height: 1.5;
			margin-bottom: 30px;
			@media screen and (max-width: $screen-xs) {
				font-size: 16px;
			}
		}
		.btn {
			padding: 15px 20px;
			background: $brand-white!important;
			color: $brand-primary;
			border: none!important;
			font-size: 14px;
			text-transform: uppercase;
			// @include border-radius(2px);
			&:hover {
				background: $brand-white!important;
				-webkit-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
				-moz-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
				box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
			}
		}
	}
}

::-webkit-selection {
  color: $brand-white;
  background: $brand-primary;
}

::-moz-selection {
  color: $brand-white;
  background: $brand-primary;
}
::selection {
  color: $brand-white;
  background: $brand-primary;
}

// Form Input Field
.form-control {
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(245, 124, 124, 0.1);
	height: 54px;
	font-size: 18px;
	font-weight: 300;
  	&:active, &:focus {
  		outline: none;
		box-shadow: none;
		border-color: $brand-primary;
  	}
}